body{
    background-color: #efeded;
    margin: 0px;
    padding: 0px;
}
header{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 75px;
    background-color: #AFA7A9;
    display: flex;
    align-items:center;
    justify-content: center;
}
.headiv{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
main{
    width: 914px;
    height: 3300px;
    background-color: #EDE3E4;
    box-shadow: 0px 0px 20px rgb(37, 37, 37);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer{
    height: 210px;
    width: 100%;
    background-color: #584B53;
    box-shadow: 0px 0px 20px rgb(37, 37, 37);
    margin: 0px;
    padding: 0px;
}
.headiv>p{
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
.text2box{
    width: 98%;
}
.text2box>h1{
    justify-self: center;
}


.text3box{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 100%;
}

.text1box{
    display: flex;
    justify-content:space-around;
}
.text2box{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-around;

}
.tt{
    width: 300px;
}
.text5box{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}
.text6box{
    width: 800px;
    margin-top: 30px;
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
    margin-right: 0px;

}
.qw11{
    width: 700px;
    display: flex;
    justify-content: center;
}
@media (max-width:870px) {
    .imgg{
        width: 45%;
        height: 70%;
    }
    .tt{
        font-size: 16px;
        width: 200px;
    }
    main{
        width: 100%;
    }
    .text6box{
        width: 600px;
    }
}
@media (max-width:600px) {
    .imgg{
        width: 300px;
        height: 200px;
    }
    .tt{
        font-size: 13px;
        width: 160px;
    }
    main{
        width: 100%;
    }
    .text6box{
        width: 400px;
    }
    .text1{
        font-size: 12px;
    }
    .textb{
        width: 400px;
    }
}
@media (max-width:500px) {
    .text6box{
        width: 260px;
    }
    .imgg{
        width: 200px;
        height: 150px;
    }
        .tt{
        font-size: 10px;
        width: 160px;
    }
}
@media (max-width:400px) {
    .imgg{
        width: 200px;
        height: 150px;
    }
    .tt{
        font-size: 10px;
        width: 160px;
    }
    .text6box{
        width: 200px;
    }
    .text1{
        font-size: 12px;
        width: 250px;
        margin-left: 30px;
    }
    .textb{
        width: 300px;
        height: 40px;
    }
    h1{
        font-size: 20px;
    }
    .text5box>h1{
        font-size: 30px;
        margin-right: 20px;
    }
    .text1box{
        display: flex;
        flex-flow: column-reverse;
        margin-left: 60px;
    }
    .text2box{
        display: flex;
        flex-flow: column-reverse;
        margin-left: 60px;
    }
    .headiv>p{
        font-size: 20px;
    }
}   
.bx-wrapper {
    width: 300px;
}
.superm{
    display: flex;
    align-items:center;
    justify-content: center;
}
