body{
    background-color: #efeded;
    color: black;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
form{
    width: 400px;
    height: 400px;
    background-color:  #EDE3E4;
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
}

div{
    width: 400px;
    display: flex;
    justify-content: center;
}
button{
    padding: 15px 20px;
    border-radius: 15px;
    background-color: bisque;
    color: black;
}
input{
    background-color: pink;
}