body{
    background-color: #efeded;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 75px;
    background-color: #AFA7A9;
    display: flex;
    align-items:center;
    justify-content: center;
}
.headiv{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
main{
    width: 914px;
    height: 3300px;
    background-color: #EDE3E4;
    box-shadow: 0px 0px 20px rgb(37, 37, 37);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer{
    height: 210px;
    width: 100%;
    background-color: #584B53;
    box-shadow: 0px 0px 20px rgb(37, 37, 37);
    margin: 0px;
    padding: 0px;
}
.headiv>p{
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
.text2box{
    width: 98%;
}
.text2box>h1{
    justify-self: center;
}


.text3box{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 100%;
}

.text1box{
    display: flex;
    justify-content:space-around;
}
.text2box{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-around;

}
.tt{
    width: 300px;
}
.text5box{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}
.text6box{
    width: 870px;
    margin-top: 30px;
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
}
.qw11{
    width: 700px;
    display: flex;
    justify-content: center;
}
@media (max-width:877px){
    header{
        width: 100vw;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.bx-wrapper {
    width: 300px;
}
